.gradient_button:hover {
  animation: rotate 2s linear infinite;
}

@keyframes rotate {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 200% 200%;
  }
}
